<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="OtomasyonSuite" verbose="1">

    <test name="ApponteAutomation">
        <classes>

            <class name="org.example.AppTest">
                <methods>
                    <include name="test"/>
                </methods>
            </class>

            <class name="org.example.ConsultantLogin">
                <methods>
                    <include name="test"/>
                </methods>

            </class>

        </classes>

    </test>

</suite>